{extend name='common/base'}
{block name='css'}
<link rel="stylesheet" href="__INDEX_CSS__/infopic.css">
<style>
    .picmidmid {float: left;width: 94%;overflow: hidden;height: 76px;padding-left: 2px;}
</style>
{/block}
{block name='content'}
<div class="hide">
    <audio controls autoplay loop src="\{:$row.music}"></audio>
</div>
<div class="picsbox">
            <div class="bodymodal"></div>
            <!--播放到第一张图的提示-->
            <div class="firsttop">
                <div class="firsttop_right">
                    <div class="close2"> <a class="closebtn1" title="关闭" href="javascript:void(0)"></a> </div>
                    <div class="replay">
                        <h2 id="div-end-h2"> 已到第一张图片了。 </h2>
                        <p> <a class="replaybtn1" href="javascript:;">重新播放</a> </p>
                    </div>
                </div>
            </div>
            <!--播放到最后一张图的提示-->
            <div class="endtop">
                <div class="firsttop_right">
                    <div class="close2"> <a class="closebtn2" title="关闭" href="javascript:void(0)"></a> </div>
                    <div class="replay">
                        <h2 id="H1"> 已到最后一张图片了。 </h2>
                        <p> <a class="replaybtn2" href="javascript:;">重新播放</a> </p>
                    </div>
                </div>
            </div>
            <!--弹出层结束-->
            <!--图片特效内容开始-->
            <div class="piccontext">
                <h2> {$row.title} </h2>
                <div class="source">
                    <div class="source_left"><span>{:$row.create_time}</span></div>
                    <div class="source_right"><a href="javascript:;" class="list">列表查看</a></div>
                    <div class="source_right1"><a href="javascript:;" class="gaoqing">高清查看</a></div>
                </div>
                <!--大图展示-->
                <div class="picshow">
                    <div class="picshowtop"> <a href="#"><img src="" alt="" id="pic1" curindex="0" /></a> <a id="preArrow" href="javascript:void(0)" class="contextDiv" title="上一张"><span id="preArrow_A"></span></a> <a id="nextArrow" href="javascript:void(0)" class="contextDiv" title="下一张"><span id="nextArrow_A"></span></a> </div>
                    <div class="picshowtxt">
                        <div class="picshowtxt_left"><span>1</span>/<i>{$count}</i></div>
                        <div class="picshowtxt_right"></div>
                    </div>
                    <div class="picshowlist">
                        <div class="picshowlist_mid">
                            <div class="picmidleft"> <a href="javascript:void(0)" id="preArrow_B"><span class="sleft"></span></a> </div>
                            <div class="picmidmid">
                                <ul>
                                    {foreach $row.item as $k=>$v}
                                    <li> <a href="javascript:void(0);"><img src="\{$v.full_path}" alt="" bigimg="\{$v.full_path}" text="{$row.description}" /></a></li>
                                    {/foreach}
                                </ul>
                            </div>
                            <div class="picmidright"> <a href="javascript:void(0)" id="nextArrow_B"><span class="sright"></span></a> </div>
                        </div>
                    </div>
                </div>

                <!--列表展示-->
                <div class="piclistshow">
                    <ul>
                        {foreach $row.item as $key=>$item}
                        <li>
                            <div class="picimg"><img src="\{$item.full_path}" alt="" /></div>
                            <div class="pictxt">
                                <h3>{$row.title}<span>({$key+1}/{$count})</span></h3>
                            </div>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
{/block}