{extend name="common/layout"/}

{block name='content'}
<article>
    <div class="picbox" id="picbox"></div>
    <div id="pagelist" class="pagelist"></div>
</article>
{/block}

{block name='js'}
<script id="album-item" type="text/html">
    {{each row value i}}
    <ul>
        {{each value item index}}
        <li>
            <a href="album_detail/{{item.id}}.html"><i><img src="{{item.cover}}"></i>
                <div class="picinfo">
                    <h3>{{item.title}}</h3>
                    <span>{{item.description}}</span>
                </div>
            </a>
        </li>
        {{/each}}
    </ul>
    {{/each}}
</script>
{/block}