{include file="/common/header"/}
{block name='css'}
<link rel="stylesheet" href="__ADMIN_CSS__/font.css">
<link rel="stylesheet" href="__ADMIN_CSS__/login.css">
<link rel="stylesheet" href="__ADMIN_CSS__/xadmin.css">
{/block}
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">{$title|default=$default_msg}</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form" action="#">
        <input name="user_name" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
        <hr class="hr15">
        <input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
        <!--验证码-->
        {if $Think.config.show_captcha===true}
        <hr class="hr15">
        <div class="layui-input-inline">
        <input name="captcha" lay-verify="required|captcha" placeholder="验证码" type="text" class="left layui-input " style=" float: left;width: 50%;">
        <img src="{:captcha_src()}" style="float: right;
            width: 48%;height: 50px;" id="captcha"
             onclick="this.src = '{:captcha_src()}?r=' + Math.random();" title="点击切换">
        </div>
        {/if}
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20">
        <div style="width: 100%">
            <label class="layui-form-label-col"style="text-align: center"><a href="javascript:void(0)">技术支持：LucklyJack</a></label>
        </div>
    </form>
</div>


<!-- 底部结束 -->

</body>
</html>