{extend name="/common/base"}

{block name="content"}

<aside class="l_box">
    <div class="about_me">
        <h2>关于我</h2>
        <ul>
            <i><img src="__INDEX_IMAGES__/4.jpg"></i>
            <p></p>
        </ul>
    </div>
    <div class="wdxc">
        <h2>我的相册</h2>
        <ul>
            {foreach $album_lisst as $k=>$v}
            <li><a href="{:url('index/album/detail',['album_id'=>$v.id])}"><img src="\{$v.cover}"></a></li>
            {/foreach}
        </ul>
    </div>
    <div class="search">
        <input id="keyword" class="input_text" style="color: rgb(153, 153, 153);"
               value="" placeholder="请输入关键字词" type="text">
        <input class="input_submit" id="search" value="搜索" style="cursor: pointer" type="button">
    </div>
    <div class="fenlei">
        <h2>文章分类</h2>
        <ul>
            <li><a href="/">学无止境（33）</a></li>
            <li><a href="/">日记（19）</a></li>
            <li><a href="/">慢生活（520）</a></li>
            <li><a href="/">美文欣赏（40）</a></li>
        </ul>
    </div>
    <div class="tuijian">
        <h2>站长推荐</h2>
        <ul>
            {foreach $is_recomment_list as $k=>$v}
            <li><a href="{:url('index/article/detail',['article_id'=>$v.id])}" target="_blank">{$v.title}</a></li>
            {/foreach}
        </ul>
    </div>
    <div class="links">
        <h2>友情链接</h2>
        <ul>
            {foreach $friendly_link as $k=>$v}
            <a href="{$v.value}">{$v.name}-{$v.en_name}</a>
            {/foreach}
        </ul>
    </div>
    <div class="guanzhu">
        <h2>关注我 么么哒</h2>
        <ul>
            <img src="\upload\article\20191005\3fd96f4e191dfb862f01baff176ebe41.jpg">
        </ul>
    </div>
</aside>
<main class="r_box">
    <h1 id="show-search" class="layui-hide" style="color: #b439bf"></h1>
    <ul id="article-item-list">


    </ul>
    <div id="pagelist" class="pagelist"></div>
</main>

{/block}
{block name='js'}
<script id="article-item" type="text/html">
    {{each row value i}}
    <li><i><a href="{{value.detail_url}}"><img src="\{{value.cover}}"></a></i>
        <h3><a href="{{value.detail_url}}">{{value.title}}</a></h3>
        <p>{{value.description}}</p>
    </li>
    {{/each}}
</script>
{/block}

