{extend name="/common/base"}
{block name='css'}
<link rel="stylesheet" href="__LIBS__/font-awesome/css/font-awesome.css">
<style>
</style>
{/block}
{block name="content"}
<aside class="l_box">
    {include file='common/widget/about_me'}
    {include file='common/widget/inspirational'}
    {include file='common/widget/search'}
    {include file='common/widget/links'}
    {include file='common/widget/cloud'}
    {include file='common/widget/attention'}
</aside>
<main class="r_box">
    <div class="layui-carousel" id="layui-carousel">
        <div carousel-item>
            {foreach $banner_list as $k=>$v}
            {php}
             $url ='javascript:;';$target='';
             if(stripos($v['link'],'http')!==false||stripos($v['link'],'https')!==false){
                $url = $v['link'];
                $target='_blank';
             }else if(count(explode('=',$v['link']))==2){
                $link = substr($v['link'],0,strpos($v['link'], '_'));
                $option = explode('=',$v['link']);
                $url = url('index/'.$link.'/detail',[$option[0]=>$option[1]]);
                $target='_blank';
            }else{
              //其他操作
            }
            {/php}
            <a href="{$url}" target="{$target}">
                <div class="banner-item">
                    <i class="title">{$v.title}</i>
                    <h1 class="description">{$v.description}</h1>
                    <div class="mask"></div>
                    <img src="\{$v.cover}" alt="">
                </div>
            </a>
            {/foreach}


        </div>
    </div>
    <h1 id="show-search" class="layui-hide" style="color: #1e9fff;padding: 10px 0px 10px 25px;background: rgba(255,255,255,0.8);margin-bottom: 10px"></h1>
    <ul id="article-item-list">
        <h2 style="color: #1e9fff;padding: 5px 0px 5px 25px;margin-bottom: 10px">最新发布</h2>
        {foreach $row as $k=>$v}
        <li>
            <div class="tag-item">
                {foreach $v.tags as $key=>$value}
                <span class="tag">{$value.tag_list.name}</span>
                {/foreach}
            </div>
            <i><a href="{:url('index/article/detail',['article_id'=>$v.id])}"><img src="\{$v.cover}" alt="图片不见了T.T"></a></i>
            <h3><a href="{:url('index/article/detail',['article_id'=>$v.id])}">{:$v.title}</a></h3>
            <div class="other-info">
                <b class="fa fa-clock-o"><span title="发布时间"> {$v.create_time} </span></b>
                <b class="fa fa-eye"><span title="查阅人数"> {$v.watch_count} </span></b>
            </div>
            <p>{$v.description}</p>
        </li>
        {/foreach}
    </ul>
    <div id="pagelist" class="pagelist"></div>

</main>
{/block}
{block name='js'}
<script id="article-item" type="text/html">
    {{each row value i}}
    <li>
        <div class="tag-item">
            {{ each value.tags item k }}
            <span class="tag">{{item.tag_list.name}}</span>
            {{/each}}
        </div>
        <i><a href="{{value.detail_url}}"><img src="\{{value.cover}}" alt="图片不见了T.T"></a></i>
        <h3><a href="{{value.detail_url}}">{{value.title}}</a></h3>
        <div class="other-info">
            <b class="fa fa-clock-o"><span title="发布时间"> {{value.create_time}} </span></b>
            <b class="fa fa-eye"><span title="查阅人数"> {{value.watch_count}} </span></b>
        </div>
        <p>{{value.description}}</p>
    </li>
    {{/each}}
</script>
{/block}

