{extend name='common/base'}
{block name='content'}
<div class="layui-carousel" id="layui-carousel">
    <div carousel-item>
        {foreach $banner_list as $k=>$v}
        {php}
            $url ='javascript:;';$target='';
            if(stripos($v['link'],'http')!==false||stripos($v['link'],'https')!==false){
            $url = $v['link'];
            $target='_blank';
        }else if(count(explode('=',$v['link']))==2){
            $link = substr($v['link'],0,strpos($v['link'], '_'));
            $option = explode('=',$v['link']);
            $url = url('index/'.$link.'/detail',[$option[0]=>$option[1]]);
            $target='_blank';
        }else{
        //其他操作
        }
        {/php}
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="{$url}" target="{$target}">
                    <img style="width: 100%;height: 280px;" src="\{$v.cover}" alt=""/>
                </a>
                <div class="carousel-caption">{$v.title}-{$v.description}</div>
                <span class="carousel-bg"></span>
            </div>
        </div>
        {/foreach}
    </div>
</div>
<!--/banner-->
<div class="content-block hot-content hidden-xs">
    <h2 class="title"><strong>点赞最多文章</strong></h2>
    <ul>
        {foreach $like_article_list as $k=>$v}
        <li class="{if $k==0}large{/if}" data-toggle="tooltip" data-placement="top" title="累积获赞 {$v.like}">
            <a href="{:url('index/article/detail',['article_id'=>$v.id])}">
                <img src="\{$v.cover}" alt="">
                <h3> {$v.title} </h3>
            </a>
        </li>
        {/foreach}
    </ul>
</div>

<div class="content-block new-content">
    <h2 class="title"><strong>最新文章</strong></h2>
    <div class="row" id="article-item-list">
        {foreach $row as $k=>$v}
        <div class="news-list">
            <div class="news-img col-xs-5 col-sm-5 col-md-4"><a href="{:url('index/article/detail',['article_id'=>$v.id])}"><img
                    src="\{$v.cover}" alt=""> </a></div>
            <div class="news-info col-xs-7 col-sm-7 col-md-8">
                <dl>
                    <dt><a href="{:url('index/article/detail',['article_id'=>$v.id])}"> {$v.title} </a>
                    </dt>
                    <dd><span class="name"><a href="javascript:viod(0);"
                                              title="由 {if !$v.author}本站站长{else}{$v.author}{/if} 发布" rel="author">{if !$v.author}本站站长{else}{$v.author}{/if}</a></span>
                        <span class="identity"></span> <span
                                class="time"> {$v.create_time|strtotime|date='Y-m-d'} </span></dd>
                    <dd class="text">{$v.description}</dd>
                </dl>
                <div class="news_bot col-sm-7 col-md-8">
                    <span class="tags visible-lg visible-md">
                        {foreach $v.tags as $tag}
                         <a class="tag">{$tag.tag_list.name}</a>
                        {/foreach}
                    </span>
                    <span class="look"> 共 <strong>{$v.watch_count}</strong> 次阅读 </span>
                </div>
            </div>
        </div>
        {/foreach}
    </div>
    <!--<div class="news-more" id="pagination">
        <a href="">查看更多</a>
    </div>-->
    <div class="quotes" id="pagelist" style="margin-top:15px">

    </div>
</div>
{/block}
{block name='widget'}
    {include file='common/widget/sentence'}
    {include file='common/widget/search'}
    {include file='common/widget/recommend'}
    {include file='common/widget/cloud'}
{/block}
{block name='js'}
<script type="text/html" id="article-item">
    {{each row value i}}
    <div class="news-list">
        <div class="news-img col-xs-5 col-sm-5 col-md-4"><a href="{{value.detail_url}}"><img
                src="\{{value.cover}}" alt=""> </a></div>
        <div class="news-info col-xs-7 col-sm-7 col-md-8">
            <dl>
                <dt><a href="{{value.detail_url}}" > {{value.title}} </a></dt>
                <dd><span class="name"><a href="javascript:viod(0);" title="由{{value.author}}发布" rel="author">{{value.author}}</a></span>
                    <span class="identity"></span> <span class="time"> {{value.publish_time}} </span></dd>
                <dd class="text">{{value.description}}</dd>
            </dl>
            <div class="news_bot col-sm-7 col-md-8">
                    <span class="tags visible-lg visible-md">
                        {{ each value.tags item k }}
                        <a class="tag">{{item.tag_list.name}}</a>
                        {{/each}}
                    </span>
                <span class="look"> 共 <strong>{{value.watch_count}}</strong> 人看过 </span>
            </div>
        </div>
    </div>
    {{/each}}
</script>
{/block}
