{include file='/common/header'/}
{block name='css'}
<style>
    .layui-upload-img {
        width: 92px;
        height: 92px;
        margin: 0 10px 10px 0;
    }
</style>
{/block}
{block name='content'}
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                    <span class="x-red">*</span>标题
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="title" name="title" required="" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>相册标题--分享时用到
                </div>
            </div>
            <div class="layui-form-item">
                <label for="description" class="layui-form-label">
                    <span class="x-red"></span>相册简介
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="description" name="description" lay-verify="description"
                           autocomplete="off" class="layui-input">

                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="cover-upload" class="layui-form-label">
                    <span class="x-red"></span>相册封面
                </label>
                <div class="layui-upload">
                    <div class="layui-upload-list">
                        <div>
                            <img class="layui-upload-img" src="__ADMIN_IMAGES__/no_img.jpg" id="cover-upload">
                            <span id="cover-text"></span>
                        </div>
                    </div>
                    <input type="hidden" name="cover" value="" id="cover">
                </div>
                <!-- <div class="layui-upload">
                     <button type="button" class="layui-btn upload" data-div-id="show-cover" data-add-type="img" data-accept="image"  data-acceptMime ="image/*" data-multiple="false" data-number="1" data-hidden-id="cover-path" id="upload-cover">添加封面</button>
                     <div class="layui-upload-list" id="show-cover"></div>
                 </div>
                 <input type="hidden" name="cover" value="" id="cover-path">-->
            </div>
            <div class="layui-form-item">
                <label for="upload-music" class="layui-form-label">
                    <span class="x-red"></span>背景音乐
                </label>
                <div class="layui-upload">
                    <button type="button" class="layui-btn upload" data-div-id="show-music" data-add-type="audio"
                            data-accept="audio" data-acceptMime="audio/*" data-multiple="false" data-number="1"
                            data-hidden-id="music-path" id="upload-music">添加背景音乐
                    </button>
                    <div class="layui-upload-list" id="show-music">
                        <audio controls="controls" src="" class="layui-upload-img" id="audio"></audio>
                    </div>
                </div>
                <input type="hidden" name="music" value="" id="music-path">
            </div>
            <div class="layui-form-item">
                <label for="upload-album" class="layui-form-label">
                    <span class="x-red"></span>相册内容
                </label>
                <div class="layui-upload">
                    <button type="button" class="layui-btn upload" data-div-id="show-album" data-add-type="img"
                            data-accept="image" data-acceptMime="image/*" data-multiple="true" data-number="100"
                            data-hidden-id="full-path" id="upload-album">添加相册图片
                    </button>
                    <div class="layui-upload-list" id="show-album"></div>
                </div>
                <input type="hidden" name="full_path" value="" id="full-path">
            </div>
            <div class="layui-form-item">
                <label for="add" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    增加
                </button>
            </div>
        </form>
    </div>
</div>
{/block}
{block name='js'}
<script>
    layui.use(['form', 'layer', 'upload', 'element'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer,
                upload = layui.upload,
                url = "{:url('fileUpload')}",
                element = layui.element;
            var base64_result;
            //封面上传
            upload.render({
                elem: '#cover-upload'
                , url: url
                , multiple: false
                , number: 1
                , accept: 'images'
                , acceptMime: 'image/*'
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    console.log(obj);
                    obj.preview(function (index, file, result) {
                        // $('#cover-upload').attr('src', result); //图片链接（base64）
                        base64_result = result;
                    });

                }
                , done: function (res, index, upload) {
                    console.log(res);
                    console.log(index);
                    console.log(upload);
                    var cover_text = $('#cover-text');
                    if (res.code != '000000') {
                        cover_text.css('color', '#FF5722').css('position', 'relative').css('left', '-100px').prop('id', 'cover-reload').html('上传失败');
                        cover_text.find('#cover-reload').on('click', function () {
                            uploadInst.upload();
                        });
                        return false;
                    } else {
                        // 表示上传成功
                        cover_text.css('color','#FF5722').css('position', 'relative').css('left', '-100px').html('点击可重新上传');
                        var local_url = res.data.localUrl;
                        $("#cover").val(local_url);
                        $('#cover-upload').attr('src', base64_result);
                    }
                    //上传成功
                }
                , error: function () {
                    //演示失败状态，并实现重传
                    var demo_text = $('#cover-text');
                    demo_text.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demo_text.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }
            });


            /*  $(".upload").each(function (k, v) {
                  var obj = $(v);
                  var div_id = obj.data('div-id');
                  var add_type = obj.data('add-type');
                  var hidden_id = obj.data('hidden-id');
                  var accept = obj.data('accept');
                  var acceptMime = obj.data('acceptMime');
                  var multiple = obj.data('multiple') == true ? true : false;
                  var number = obj.data('number') > 0 ? obj.data('number') : 1;
                  upload.render({
                      elem: obj
                      , url: url
                      , multiple: multiple
                      , number: number
                      , accept: accept
                      , acceptMime: acceptMime
                      , before: function (obj) {
                          //预读本地文件示例，不支持ie8
                          obj.preview(function (index, file, result) {
                              $('#' + div_id).append('<' + add_type + ' style="width: 30%;height:50%;margin-right: 3px;" src="' + result + '" alt="' + file.name + '" class="layui-upload-img"></' + add_type + '>')
                          });
                      }
                      , done: function (res) {
                          //上传完毕
                          if (res.code == '000000') {
                              upload_path.push(res.data);
                          } else {
                              upload_path = [];
                              console.log('上传失败:' + res.msg)
                          }
                      }
                      , allDone: function (obj) {
                          console.log(obj);
                          $("#" + hidden_id).val(upload_path);
                          upload_path = [];
                      }
                      , error: function (index, upload) {
                          //当上传失败时，你可以生成一个“重新上传”的按钮，点击该按钮时，执行 upload() 方法即可实现重新上传
                          console.log(index);
                          console.log(upload);
                      }

                  });
              });*/
            /*  upload.render({
                  elem: '#upload-album'
                  , url: url
                  , multiple: true
                  , number: 30
                  , accept: 'image'
                  , acceptMime: 'image/!*'
                  , before: function (obj) {
                      //预读本地文件示例，不支持ie8
                      obj.preview(function (index, file, result) {
                          $('#show-album').append('<img style="width: 30%;height:50%;margin-right: 3px;" src="' + result + '" alt="' + file.name + '" class="layui-upload-img">')
                      });
                  }
                  , done: function (res) {
                      //上传完毕
                      if (res.code == '000000') {
                          full_path.push(res.data);
                      }else {
                          console.log('上传失败:'+res.msg)
                      }
                  }
                  , allDone: function (obj) {
                      console.log(obj);
                      $("#full-path").val(full_path);
                  }
                  ,error: function(index, upload){
                      //当上传失败时，你可以生成一个“重新上传”的按钮，点击该按钮时，执行 upload() 方法即可实现重新上传
                      console.log(index);
                      console.log(upload);
                  }

              });
              upload.render({
                  elem: '#upload-cover'
                  , url: url
                  , multiple: false
                  , number: 1
                  , accept: 'image'
                  , acceptMime: 'image/!*'
                  , before: function (obj) {
                      //预读本地文件示例，不支持ie8
                      obj.preview(function (index, file, result) {
                          $('#show-cover').append('<img style="width: 30%;height:50%;margin-right: 3px;" src="' + result + '" alt="' + file.name + '" class="layui-upload-img">')
                      });
                  }
                  , done: function (res) {
                      //上传完毕
                      if (res.code == '000000') {
                          $("#cover-path").val(res.data);
                      }else {
                          console.log('上传失败:'+res.msg);
                          layer.msg('封面图上传失败额');
                          return false
                      }
                  }
                  , allDone: function (obj) {
                      console.log(obj);
                  }
              });
              upload.render({
                  elem: '#upload-music'
                  , url: url
                  , multiple: false
                  , number: 1
                  , accept: 'audio'
                  , acceptMime: 'audio/!*'
                  , before: function (obj) {
                      //预读本地文件示例，不支持ie8
                      obj.preview(function (index, file, result) {
                         $("#audio").attr('src',result)
                      });
                  }
                  , done: function (res) {
                      //上传完毕
                      if (res.code == '000000') {
                          $("#music-path").val(res.data);
                      }else {
                          console.log('上传失败:'+res.msg);
                          layer.msg('封面图上传失败额');
                          return false
                      }
                  }
                  , allDone: function (obj) {
                      console.log(obj);
                  }
              });*/
            //监听提交
            form.on('submit(add)',
                function (data) {
                    console.log(data);
                    var url = "{:url('add')}";
                    var datas = data.field;
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: datas,
                        dataType: 'JSON',
                        success: function (res) {
                            console.log(res);
                            //请求成功
                            if (res.code == '000000') {
                                //取消抖动
                                layer.alert(res.msg, {icon: 6}, function () {
                                    //关闭当前frame
                                    xadmin.close();
                                    // 可以对父窗口进行刷新
                                    xadmin.father_reload();
                                });
                                return false;
                            } else {
                                layer.msg(res.msg, {shift: -1, time: 2000, icon: 5}, function () {
                                });
                                return false;
                            }

                        },
                    });
                });

        });
    /*layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        var uploadInst = upload.render({
            elem: '#test1'
            ,url: 'http://httpbin.org/image'
            ,size: 2000 //限制文件大小，单位 KB
            //,accept: 'file'
            ,method: 'get'
            ,fileAccept: 'image/!*'
            ,exts: "jpg|png|gif|bmp|jpeg|pdf"
            ,data: { //额外参数
                a: 1
                ,b: function(){
                    return 2
                }
            }
            ,choose: function(){
                console.log(1)
            }
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        upload.render({
            elem: '#test2'
            ,url: ''
            ,multiple: true
            ,number: 3
            ,size: 1024
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            }
            ,done: function(res){
                //上传完毕
            }
            ,allDone: function(obj){
                console.log(obj)
            }
        });

        //演示多文件列表
        var demoListView = $('#demoList');
        var uploadListIns = upload.render({
            elem: '#testList'
            ,url: ''
            ,accept: 'file'
            ,multiple: true
            ,number: 3
            ,auto: false
            ,bindAction: '#testListAction'
            ,choose: function(obj){
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列

                //读取本地文件
                obj.preview(function(index, file, result){
                    var tr = $(['<tr id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                        ,'<td>等待上传</td>'
                        ,'<td>'
                        ,'<button class="layui-btn layui-btn-mini demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn layui-btn-mini layui-btn-danger demo-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function(){
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    demoListView.append(tr);
                });
            }
            ,done: function(res, index, upload){
                if(res.code == 0){ //上传成功
                    var tr = demoListView.find('tr#upload-'+ index)
                        ,tds = tr.children();
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(3).html(''); //清空操作
                    delete this.files[index]; //删除文件队列已经上传成功的文件
                    return;
                }
                this.error(index, upload);
            }
            ,allDone: function(obj){
                console.log(obj)
            }
            ,error: function(index, upload){
                var tr = demoListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });


        upload.render({
            elem: '.test333'
            ,url: 'a'
            ,accept: 'file'
            ,before: function(obj){
                console.log(this.item);
            }
            ,done: function(res){
                console.log(res)
            }
        });

        upload.render({
            elem: '.testm'
            ,done: function(res, index, upload){
                //获取当前触发上传的元素，一般用于 elem 绑定 class 的情况，注意：此乃 layui 2.1.0 新增
                var item = this.item;
            }
        })

        /!*
        upload.render({
          elem: '#test33'
          ,url: ''
          ,accept: 'file'
          ,done: function(res){
            console.log(res)
          }
        });*!/

        upload.render({
            elem: '#test4'
            ,url: ''
            ,accept: 'video'
            ,done: function(res){
                console.log(res)
            }
        });

        upload.render({
            elem: '#test5'
            ,url: ''
            ,accept: 'audio'
            ,done: function(res){
                console.log(res)
            }
        });


        //手动上传
        upload.render({
            elem: '#test6'
            ,url: ''
            ,auto: false
            //,multiple: true
            ,bindAction: '#test7'
            ,choose: function(obj){
                var that = this;
                obj.preview(function(index, file){
                    obj.resetFile(index, file, '123.jpg');
                });
            }
            ,before: function(){
                console.log(345);
            }
            ,done: function(res){
                console.log(res);
            }
        });

        upload.render({
            elem: '#test8'
            ,url: ''
            ,done: function(res){
                console.log(res);
            }
        });

        upload.render({
            elem: '#test9'
            ,url: ''
            ,done: function(res){
                console.log(res);
            }
        });

    });*/
</script>
{/block}