{include file='/common/header'/}
{block name='content'}
<!--<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>

</div>-->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table id="table" class="layui-hide" lay-filter="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="album-operate">
    <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="music">
    <audio src="\{{d.music}}" controls></audio>
</script>
{/block}