{include file='/common/header'/}
{block name='content'}
<!--<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>

</div>-->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
                       onclick="location.reload()" title="刷新">
                        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
                    <form class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="user_name" placeholder="请输入用标题" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn" onclick="xadmin.open('添加相册','{:url(\'add\')}')"><i
                            class="layui-icon"></i>添加
                    </button>
                </div>
                <div class="layui-card-body">
                   <!-- <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                        <legend>卡片面板</legend>
                    </fieldset>

                    <div style="padding: 20px; background-color: #F2F2F2;">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md12">
                                <div class="layui-card">
                                    <div class="layui-card-header">标题</div>
                                    <div class="layui-card-body">
                                        内容
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md6">
                                <div class="layui-card">
                                    <div class="layui-card-header">卡片面板</div>
                                    <div class="layui-card-body">
                                        卡片式面板面板通常用于非白色背景色的主体内<br>
                                        从而映衬出边框投影
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md6">
                                <div class="layui-card">
                                    <div class="layui-card-header">卡片面板</div>
                                    <div class="layui-card-body">
                                        结合 layui 的栅格系统<br>
                                        轻松实现响应式布局
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>-->
                    <table class="layui-table layui-form">
                        <tr>
                            <th>
                                <input type="checkbox" name="" lay-skin="primary">
                            </th>
                            <th>ID</th>
                            <th>标题</th>
                            <th>简介</th>
                            <th>封面图</th>
                            <th>背景音乐</th>
                            <th>操作</th>
                        </tr>
                        {empty name="$album_list"}
                        <tr>
                            <td colspan="6" style=" text-align:center;">
                                暂无数据
                            </td>
                        </tr>
                        {else /}
                        {foreach name="$album_list" id="item"}
                        <tr>
                            <td>
                                <input type="checkbox" name="" lay-skin="primary">
                            </td>
                            <td>{$item.id}</td>
                            <td>{$item.title}</td>
                            <td>{$item.description}</td>
                            <td><img src="{$item.cover}" style="width: 25%" alt=""></td>
                            <td>
                                <audio src="{$item.music}" controls="controls"></audio>
                            <td class="td-manage">
                                <a onclick="xadmin.open('详情','{:url(\'detail\',[\'id\'=>$item.id])}')" href="javascript:;" title="详情">
                                    <i class="layui-icon">&#xe601;</i>
                                </a>
                                <a title="编辑" onclick="xadmin.open('编辑','{:url(\'add\',[\'id\'=>$item.id])}')"
                                   href="javascript:;">
                                    <i class="layui-icon">&#xe642;</i>
                                </a>
                                <a title="删除" onclick="member_del(this,'{:url(\'del\',[\'id\'=>$item.id])}')"
                                   href="javascript:;"><i
                                        class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                        </tr>
                        {/foreach}
                        {/empty}
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        {:$page;}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name='js'}
<script>
    layui.use(['laydate', 'form','upload'], function () {
        var laydate = layui.laydate;
        var form = layui.form;

    });

    /*用户-停用*/
    function member_stop(obj, id) {
        layer.confirm('确认要停用吗？', function (index) {

            if ($(obj).attr('title') == '启用') {

                //发异步把用户状态进行更改
                $(obj).attr('title', '停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!', {icon: 5, time: 1000});

            } else {
                $(obj).attr('title', '启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!', {icon: 5, time: 1000});
            }

        });
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
        });
    }


    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }


</script>
{/block}