{extend name="common/base"/}
{block name='content'}
<div class="content-block related-content visible-lg visible-md artile-item">
    <h2 class="title"><strong class="hide">标签：<b></b>共计文章 <b></b>篇</strong></h2>
    <ul id="article-item-list">

    </ul>
</div>
<div id="pagelist" class="pagelist"></div>
{/block}
{block name='widget'}
{include file='common/widget/sentence'}
{include file='common/widget/search'}
{include file='common/widget/recommend'}
{include file='common/widget/comment'}
{/block}
{block name='js'}
<script type="text/html" id="article-item">

</script>
{/block}
