{include file='/common/header'/}
{block name='css'}
<style>
    .layui-upload-img {
        width: 92px;
        height: 92px;
        margin: 0 10px 10px 0;
    }
</style>
{/block}
{block name='content'}
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" method="POST">
            <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                    <span class="x-red">*</span>标题
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="name" value="{$row.name}" name="name" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>中文
                </div>
            </div>
            <div class="layui-form-item">
                <label for="description" class="layui-form-label">
                    <span class="x-red"></span>英文名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="en_name" value="{$row.en_name}" name="en_name" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="description" class="layui-form-label">
                    <span class="x-red"></span>值
                </label>
                <div class="layui-input-block">
                    <textarea name="value" id="value" class="myeditor" cols="30" rows="10">{$row.value|html_entity_decode}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="description" class="layui-form-label">
                    <span class="x-red"></span>排序
                </label>
                <div class="layui-input-inline">
                    <input type="number" id="order_key" name="order_key"  min="0" max="999" autocomplete="off"
                           class="layui-input order-key" value="{$row.order_key}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">从小到大排序</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="add" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="submit" lay-submit="">
                    增加
                </button>
            </div>
        </form>
    </div>
</div>
{/block}
{block name='js'}
<script>

</script>
{/block}