{include file='/common/header'/}
{block name='css'}
<style>
    .list-inline {
        padding-left: 0;
        list-style: none;
    }

    #chooseicon {
        margin: 10px;
    }

    #chooseicon ul li {
        width: 41px;
        height: 42px;
        line-height: 42px;
        border: 1px solid #efefef;
        padding: 1px;
        margin: 1px;
        text-align: center;
        font-size: 18px;
        float: left;
    }

    #chooseicon ul li:hover {
        border: 1px solid #000000;
        cursor: pointer;
    }

</style>
{/block}
{block name='content'}
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" method="POST">

            <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                    <span class="x-red">*</span>上级菜单
                </label>
                <div class="layui-input-inline">
                    <select name="pid" >
                        <option value="0">--默认顶级--</option>
                        {foreach $list as $k=>$v}
                        <option value="{$k}" {if $row.pid==$k} selected {/if}>{$v|raw}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>

            <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                    <span class="x-red">*</span>菜单名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="title" name="title" lay-verify="required" autocomplete="off"
                           class="layui-input" value="{$row.title}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                    <span class="x-red">*</span>url地址
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="url" name="url" lay-verify="required" autocomplete="off"
                           class="layui-input" value="{$row.url}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                    <span class="x-red">*</span>图标
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="icon" name="icon" autocomplete="off"
                           class="layui-input" style="float: left;" value="{$row.icon}">
                </div>
                <div class="">
                    <a href="javascript:;" style="float: left"
                       class="layui-btn layui-btn-primary layui-btn-sm  btn-search-icon">搜索图标</a>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">是否为菜单</label>
                <div class="layui-input-block">
                    <input type="radio" name="is_menu" title="是" value="1" {if $row.is_menu==1} checked {/if}>
                    <input type="radio" name="is_menu" title="否" value="0" {if $row.is_menu==0} checked {/if}>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否启用</label>
                <div class="layui-input-block">
                    <input type="radio" name="status" title="是" value="1" {if $row.status==1} checked {/if}>
                    <input type="radio" name="status" title="否" value="0"  {if $row.status==0} checked {/if}>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="description" class="layui-form-label">
                    <span class="x-red"></span>排序
                </label>
                <div class="layui-input-inline">
                    <input type="number" id="order_key" name="order_key" min="0" max="9999" autocomplete="off"
                           class="layui-input order-key" value="{$row.order_key}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">从小到大排序</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="add" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="submit" lay-submit="">
                    提交
                </button>
            </div>
        </form>
    </div>
</div>
{/block}
{block name='js'}
<script>

</script>
<script id="choose_icon" type="text/html">
    <div id="chooseicon">
        <div>
            <form onsubmit="return false;">
                <div class="">
                    <div>
                        <input class="layui-input js-icon-search" type="text" placeholder="图标搜索">
                    </div>
                </div>
            </form>
        </div>
        <div>
            <ul class="list-inline">
                {{ each icon_list value i }}
                <li data-font="{{value}}" data-toggle="tooltip" title="{{value}}">
                    <i class="fa fa-{{value}}"></i> {{/each}}
                </li>
            </ul>
        </div>

    </div>
</script>
{/block}