{include file='/common/header'/}
{block name='content'}
<!--<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>

</div>-->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-input-inline layui-show-xs-block">
                            <input class="layui-input" placeholder="分类名" name="cate_name"></div>
                        <div class="layui-input-inline layui-show-xs-block">

                        </div>
                    </form>
                    <hr>
                    <blockquote class="layui-elem-quote">每个tr 上有两个属性 cate-id='1' 当前分类id fid='0' 父级id ,顶级分类为
                        0，有子分类的前面加收缩图标<i class="layui-icon x-show" status='true'>&#xe623;</i></blockquote>
                </div>
                <div class="layui-card-header">
                    <div class="layui-card-header">
                        <button class="layui-btn" onclick="xadmin.open('添加分类','{:url(\'add\')}')"><i
                                class="layui-icon"></i>添加
                        </button>
                    </div>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <tr>
                            <th width="70">编号</th>
                            <th>栏目名</th>
                            <th width="80">状态</th>
                            <th width="50">排序</th>
                            <th width="250">操作</th>
                        </tr>
                        {empty name="$tree"}
                        <tr>
                            <td colspan="5" style=" text-align:center;">
                                暂无数据
                            </td>
                        </tr>
                        {else/}
                        <tbody class="x-cate">
                            {$tree|raw}
                        </tbody>
                        {/empty}
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}