
    <meta charset="utf-8">
    <title>{$title}</title>
    <meta name="keywords" content="{$webKeywords}"/>
    <meta name="description" content="{$webDescription}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--js-->
    <link href="__INDEX_CSS__/base.css" rel="stylesheet">
    <link href="__INDEX_CSS__/index.css" rel="stylesheet">
    <link href="__INDEX_CSS__/m.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__INDEX_JS__/modernizr.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var require = {config:{:json_encode($config)}};
    </script>